.section-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
  margin-top: 100px

}

.section-divider::before,
.section-divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid #ccc;
  margin: 0 1rem;
}

.section-divider span {
  font-size: 1.8rem;
  color:rgb(20, 68, 38);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 10px;
}

.section-divider span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.99); /* solo hacia abajo */
  border-radius: 50%;
  pointer-events: none;
}
