.video-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajusta según el diseño */
    margin: 20px auto; /* Centrar */
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.video-container iframe,
.video-container video {
    width: 100%;
    height: 450px; /* Ajusta según la necesidad */
    display: block;
    border: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .video-container {
        max-width: 100%;
        padding: 0 10px;
    }

    .video-container iframe,
    .video-container video {
        height: 250px;
    }
}
