body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #d4cbcb;
}
